# Documents by terms

In [1]:
import pandas as pd
from techminer import RecordsDataFrame

rdf = RecordsDataFrame(
    pd.read_json(
        'step-07.json', 
        orient='records', 
        lines=True))

In [2]:
rdf.documents_by_terms('Document Type')

,Document Type,Num Documents,ID
0,Conference Paper,88,"[[*7*], [*8*], [*9*], [*12*], [*13*], [*14*], ..."
1,Article,52,"[[*0*], [*1*], [*2*], [*3*], [*4*], [*5*], [*6..."
2,Article in Press,2,"[[*92*], [*95*]]"
3,Book Chapter,1,[[*136*]]
4,Conference Review,1,[[*141*]]

In [3]:
rdf.documents_by_terms('Document Type').print_IDs()

Conference Paper (88) : [*7*][*8*][*9*][*12*][*13*][*14*][*15*][*16*][*17*][*19*][*20*][*21*][*22*][*23*][*24*][*26*][*30*][*32*][*36*][*40*][*41*][*42*][*45*][*48*][*49*][*50*][*51*][*52*][*53*][*55*][*56*][*57*][*59*][*60*][*61*][*63*][*64*][*65*][*66*][*69*][*70*][*71*][*72*][*73*][*74*][*75*][*76*][*77*][*78*][*79*][*81*][*82*][*83*][*84*][*85*][*86*][*87*][*88*][*89*][*90*][*91*][*93*][*94*][*96*][*97*][*98*][*99*][*100*][*101*][*102*][*106*][*107*][*109*][*110*][*114*][*115*][*116*][*118*][*119*][*120*][*121*][*122*][*124*][*126*][*129*][*138*][*140*][*143*]
Article (52) : [*0*][*1*][*2*][*3*][*4*][*5*][*6*][*10*][*11*][*18*][*25*][*27*][*28*][*29*][*31*][*33*][*34*][*35*][*37*][*38*][*39*][*43*][*44*][*46*][*47*][*54*][*58*][*62*][*67*][*68*][*80*][*103*][*104*][*105*][*108*][*111*][*112*][*113*][*117*][*123*][*125*][*127*][*128*][*130*][*131*][*132*][*133*][*134*][*135*][*137*][*139*][*142*]
Article in Press (2) : [*92*][*95*]
Book Chapter (1) : [*136*]
Conference Review (1) : [*141*]

In [4]:
rdf.documents_by_terms('Document Type').barhplot('seaborn');

NameError: name 'row1' is not defined